:root {
    --dark-color: #14315B;
    --medium-color: #64A4FF;
    --light-color: #d5e4fa;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    margin: 8px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--light-color);
    color: var(--dark-color);
}

h1,
form {
    padding: 8px;
}

form {
    width: fit-content;
    display: grid;
    grid-template-columns: max-content max-content;
    column-gap: 1em;
    row-gap: 1ex;
}

form>div:nth-child(odd) {
    padding-top: 0.5ex;
}

label {
    font-weight: bold;
}

#message {
    width: 500px;
    min-height: 10ex;
}

textarea,
input,
select,
button {
    padding: 0.5ex 0.5em;
    font-family: Arial, Helvetica, sans-serif;
}

.invalid, input:invalid {
    color: red;
    outline: 2px solid red;
}

span.validity {
    color: red;
    font-size: smaller;
    font-weight: bold;
}

input:invalid + span.validity, .invalid + span.validity {
    margin-left: 0.5em;
}

input:invalid + span.validity:after {
    content: 'âŒ';
    width: 20px;
}

#title {
    font-weight: bold;
    font-size: larger;
}

.subtle {
    opacity: 0.5;
}

#channel-url {
    text-overflow: ellipsis;
    width: calc(100% - 22px);
}

#status {
    position: absolute;
    top: 10%;
    left: 20%;
    right: 20%;
    height: max-content;
    display: none;
    border: 1px solid var(--dark-color);
    background-color: var(--light-color);
    transition-property: opacity, transform;
    transition-duration: var(--fadeout-ms), var(--fadeout-ms);
    transition-timing-function: ease;
    box-shadow: 0 4px 10px var(--dark-color);
}

#status.visible {
    display: block;
}

#status.fade-out {
    opacity: 0;
    transform: scale(0);
}

#status.with-progress-bar>div:first-child {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 1ex;
    background-image: linear-gradient(90deg, #ff0000, #f7fc00, #64ff73, #0400ff, #f264ff);
    background-size: 200% 100%;
    animation-name: gradient;
    animation-duration: 2000ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: initial;
}

.status-text {
    min-height: 50px;
    padding: 0.5ex 0.5em;
    color: black;
}

.status-text.error {
    color: rgb(172, 11, 11) !important;
    font-weight: bold;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: -200% 0%;
    }
}

button {
    cursor: pointer;
    border-radius: 0;
    border: 1px solid var(--dark-color);
}

button:disabled {
    cursor: not-allowed;
}

